<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339157808585-ucko76u339b2d33p8rlvqtko8902pn8d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339157808585-ucko76u339b2d33p8rlvqtko8902pn8d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>339157808585-i8lpbckju3e9ad9e475ui122d7tt6jnh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBEs14siUNJ5vP36zAanR9HjayiDJKgRwU</string>
	<key>GCM_SENDER_ID</key>
	<string>339157808585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anmolharsh.pokerledger</string>
	<key>PROJECT_ID</key>
	<string>poker-ledger-qzw2dd</string>
	<key>STORAGE_BUCKET</key>
	<string>poker-ledger-qzw2dd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339157808585:ios:c2ffd7a16a4f8d20fce418</string>
</dict>
</plist>